@model WebApplication4.Models.Musteri

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Musteri</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-default" />
            </div>
        </div>


    </div>


}

<div class="row">
    <div class="col-md-6">
        <h4>Müşteri Ara</h4>
        <div class="col-md-8">
            <div class="form-group">
                <label for="musteriAdi">Müşteri Adı Ara</label>
                <input id="musteriAdi" name="musteriAdi" class="form-control">
            </div>
            <button id="btnAra" type="submit" class="btn btn-primary" onclick="musteriAra()"><i class="fas fa-search"></i> Ara </button>
        </div>
        <div>
            <ul id="liste">
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Müsteri Raporla</h4>
        <div class="col-md-8">
            <div class="form-group">
                <label for="">Müşteri Adi</label>
                <input id="raporMusteriAdi" name="raporMusteriAdi" class="form-control">
            </div>
            <button id="btnAra" type="submit" class="btn btn-success" onclick="musteriRapor()"><i class="fas fa-search"></i> Raporla </button>

        </div>
        <div>
            <ul id="listeRpor">
            </ul>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        console.log("Script Çalışıyor.");
    });



    function musteriAra() {
        console.log("musteriAra Çalışıyor.");

        var filterData = $('#musteriAdi').val();

        console.log(filterData);

        $.getJSON("/Home/Ara?musteriAd=" + filterData, null, DataBind);
        $("#liste").empty();

        function DataBind(liste) {
            
            for (var i = 0; i < liste.length; i++) {
                var Data = "<Li>" + liste[i].musteriAdSoyad + "</Li>";
                $("#liste").append(Data);
            }
        }
    }

    function musteriRapor() {
        console.log("musteriAra Çalışıyor.");

        var filterData = $('#raporMusteriAdi').val();

        console.log(filterData);

        $.get("/Home/Rapor?musteriAd=" + filterData, null, DataBind);
        $("#listeRapor").empty();

        function DataBind(liste) {
            for (var i = 0; i < liste.length; i++) {
                var Data = "<Li> Müşteri" + liste[i].musteriAdSoyad + "  Ürün Toplam Satis :" + liste[i].toplamSiparis + "  En Pahali Ürün :" + liste[i].enPahaliUrun +   "</Li>";
                $("#listeRapor").append(Data);
            }
        }
    }

   

</script>
